@import url("Fonts/Bold/style.css");
@import url("Fonts/Thin/style.css");
@import url("Fonts/Regular/style.css");

* {
    font-family: GT Walsheim Pro, Arial, Helvetica;
    background-color: #101010;
    color: white;
    
}



.Navbar {
    display: flex;
    justify-content: space-between; 
       
}

.NavbarTitle {
    margin: 20px;
    font-size:25px;
    font-weight:bold;
}